*{
margin: 0;
padding:0;
}

*{
    box-sizing: border-box;
}

h1 {
    color:#70adb5;
    font-weight: bolder;
    font-size: 3rem;
    margin: 0px;
    display:inline-block;
    font-family:'Montserrat', sans-serif;
}   
/* 
@media (max-width:768px){
    .container{
        float: right;
       border-color:white;

    }
} */

h2{
    padding:2rem 0 2rem 0;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;    
    top:0;
    width: 100%;
    background-color: #132743;
    z-index:20;
}   
/*menu*/
nav ul li{
    margin:0 2px 0 0;
    /* background-color:#ffcbcb; */
    background-color: #70adb5;
    font-family:'Montserrat', sans-serif; 
    font-weight:500;
    /* font-size: 1rem; */
}



/* .navbar-toggle-icon{
    border-color:#70ADB5;
    background-color: #70ADB5;
} */
.btn-menu{
    background-color: #70ADB5;
}

/*submenu*/
ul li:hover ul {
    display:block;
    padding:0;
    margin:0;
    border:3px #132743;
    background-color: #132743;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 600;
    color:white ;
    background-color: #132743;
    border:0;
}
.dropdown-item:hover {
    border:1px ridge;
    background-color:#407088;
    color:white ;
}
/*main*/
h2 {
    color:#132743;
    display:block;
}
main{
    margin-top:83px;
}
body{
    background-color: #ffcbcb;
    background-image: url("../imagen/body.png");
}
body p {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
/* .fondo-inicial{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center; 
    text-align: center;  
} */







/*CARROUSEL*/
.btn-cursos:hover{
    background: #70adb5;
    text-decoration:none;
    color:#132743;
}
.btn-cursos {
    background :#132743;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: center;
    /* padding: 1rem 1rem; */
    border-radius:.25rem;   
    /* height:3rem; */
    width: 8rem;
    text-decoration:none;
    animation:push 2s infinite;
}       
 @keyframes push{
    0%{
        transform:escale (.98);
        box-shadow: 0 0 0 0px #132743;
    }
    70%{
        transform:escale (.98);
        box-shadow: 5px 0 5px 0 #70adb5;
    }
} 
.color-transparente{
background-color: rgb(255,255,255,.6);
color:#132743;
}

/* seccion Los mas pedidos */

/*Animaciones imagenes LOS MAS PEDIDOS, NOTICIAS*/
.pedidos-img{
    height:200px;
    width:300px;
    /* transition:all .3s;  */
    margin:1rem;    
}
/* @media only screen for (min-width: 812px) and (max-width: 1024px) {
    article img{
        height: 200px;
        width: 300px;
    }   
}  */


.container-mp{   
    width: 100%;
    height:auto;
    left: 0;
    right: 0;
    margin: 10px;
    top:4rem;
  }
  
  .div-img-mp{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .div-img-mp.hidden {
    overflow: hidden;
  }
  .div-img-mp .img-mp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img-mp:hover .img-mp {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
/* Seccion APRENDE MAS */

.fondo-pink{
    background-color: #ffcbcb;
    height:25rem;  
}
.fondo-pink h2{
    color:#70adb5;
    font-weight: bolder;
    font-size: 5rem;
    margin: 0px; 
    font-family:'Montserrat', sans-serif;
}

.fondo-pink p {
    font-size: 2rem;
}
/* .fondo-pink:hover{
    background-color: rgba(3, 0, 0, 0.6);

} */
.container-cen{
    text-align:center;
}

/*seccion opiniones*/
.row-mp{
    /* margin-right:0px; */
    margin-left:4rem;
    justify-content: center;
}

.card-group{
    height: 30rem;
    width: auto;
}

.card-footer{
    font-weight: 700;
}

.flex-section{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding:10px;  
}
div.p-flex{
    display:flex;
    flex-basis:200px;
    align-self: stretch;
    margin:auto;
    padding: 5px;    
    background: #132743;
    color:#ffcbcb;/*quiero que cambie el color de la letra de comentarios*/
    font-size:x-small;
}
div.p-flex:hover{
    transform: scale(1.2);
    border:2px white solid;
}
@media (max-width: 768px) {
    .flex-section {
    display:none;
    }
}
.card-body{
    padding:0.5rem;
    /* line-height: 1.5; */
}

/*seccion Categorias de cursos*/
.cont-cat{
    padding-right:0px;
}
.categorias{
    color:#132743;
    font-size: x-large; 
    width: 100%;
    height: 60%;
    background-color: #70ADB5;  
    margin: 20px 10px 20px 0 ;
    box-shadow: 0 10px 10px 0;
    border-radius: 3px;
}
.categorias:hover{
    color:white;
    background-color:#132743;
    text-decoration: none;
}
p categorias:hover{
    color:white;
    text-decoration:none;
}

/*boton whatsapp*/
.btn-whatssapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.3);
    z-index:100;
  }
  .btn-whatssapp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
  }

/*footer*/
footer{ 
    background-color:#132743;
    padding-top: 50px;
    width:100%;
    align-items: baseline;      
    justify-content:space-between auto;
    color:white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
 }
 footer h4 {
    margin-bottom: 30px;
    font-weight: 700;
  }
 footer li a {
    color:white;
 }
 footer a {
    color:white;
 }
 footer li a:hover{
    color:#ffcbcb;
    text-decoration: none;
 }
 footer .footer-col{
    margin-bottom: 50px;
 }
footer p {
    font-family: 'Raleway', sans-serif;
}
 .title{
    display:block;
    height: 50px;
    width: 100%;
    padding: 1rem;
    text-align: center;
} 
/*termina footer*/

/*page: CURSOS-*/

h3 {
   text-align: center;
   padding: 1rem;
}
.color-card{
    background-color:#ffcbcb;
    border-radius: 3px;
}

.id-cursos{
    height: 4rem;
}
.id-cursos1{
    height: 5rem;
}

.card{
    width:80%;
    height: 25rem;
    padding: 0px;
    margin :0px;
}
/* .carta {

    width: auto;
    padding:10px;
    margin:auto;
    font-size:0.75rem;
    letter-spacing: 0px;
    border-color:black;
    background-color:#ffcbcb;

} */
.button-card{
    background-color:#407088;
    border-color:#132743;
    font-weight: 600;
}
.button-card:hover{
    background-color: #ffcbcb;
    color:#132743;
    border-color:#132743;
}

.btn-detalle{
    margin:0;
    align-items: center;
}

/*queri*/
@media only screen and (min-width: 360px) and (max-width: 1024px){
    .grid div{
        background-color: #000000;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        text-align: center;
        }
    }

/* card{
    height:350px
} */

/* PAGE: MODALIDADES */
/* 
  .main-img {
    width: 450px;
    height: 450px;
  } */

/* PAGE: NOTICIAS */
.foot-not{
    padding-top: 2px;
    background-color:#ffcbcb ;
    color:#407088;

}

/*PAGE: CONTACTO*/
.formulario{
    background: url(../imagen/contactanos.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.fondo{
    background: rgba(144, 210, 221, 0.6);
    font-family:'Raleway', sans-serif;
    font-weight: bolder;
}
